{% extends "layout.twig" %}
{% block content %}

<div class="bk-default">

<header class="cd-header">
	<div class="bk-header flex-container">
			<div class="brand flex-item">
		           {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	        </div>
	        <div class="flex-item">
		 		{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
			 </div>
	</div>
</header>

<div class="canvas">
	<div class="wrapper">
		<div class="main">
			{{zone('main')|raw}}
		</div><!--end main-->
	</div><!--end wrapper-->
</div><!--end canvas-->

{% include 'includes/footer.twig' %}

</div><!-- end bk-default-page -->

{% endblock %}